.sidebar{
    min-width: 240px;
    padding: 16px;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    top: 0;
    left: 0;
    bottom: 0;
    position: sticky;
}

.sidebar a{
    color: #555;
    margin-bottom: 3px;
    padding: 10px 12px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.sidebar a:hover {
    color: #000;
    background: #8881
}
.sidebar .active{
    color: #f33 !important;
    background: #f331 !important;
}

.sidebar a svg{
    width: 18px;
    height: 18px;
    margin-right: 14px;
}